
<mat-card >
  <mat-card-header>
      <mat-card-title> {{ cat.name }} </mat-card-title>
      <!-- <mat-card-subtitle> {{ cat.name }} </mat-card-subtitle> -->
  </mat-card-header>

  <img mat-card-image [src]="cat.image?.url" >

  <mat-card-content >
      <!-- <h3>{{ car.publisher }}</h3> -->
      <p>

          <strong >Description</strong> <small>{{ cat.description }}</small>
          <br>
          <strong> Origin: </strong> {{ cat.origin }}
          <br>
          <strong> Life span: </strong> {{ cat.life_span }}

      </p>
  </mat-card-content>

  <mat-card-actions>
      <button mat-button
              color="warn"
              [routerLink]="['/cats', cat.id ]">
          Leer más...
      </button>
  </mat-card-actions>

</mat-card>
