
<div class="container" >
  <div class="row">
    <!-- Primera -->
    <div class="col-3 col-sm-6 col-md-3">
      <br>
      <mat-card class="small">
        <!-- <mat-card-header>
            <mat-card-title> Nombre :{{ cat1.name }}</mat-card-title>
             <mat-card-subtitle> {{ cat.name }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content >
        </mat-card-content>-->


          <img mat-card-image [src]="cat1.image?.url" height="100%">
          <mat-card-content >
            <!-- <h3>{{ car.publisher }}</h3> -->
                <strong> Origin: </strong> {{ cat1.origin }}
        </mat-card-content>


      </mat-card>
      <br>
      <mat-card class="big">


        <img mat-card-image [src]="cat2.image?.url" height="100%">
        <mat-card-content >
          <!-- <h3>{{ car.publisher }}</h3> -->
              <strong> Origin: </strong> {{ cat2.origin }}
      </mat-card-content>

      </mat-card>
      <br>
      <mat-card class="medium">


        <img mat-card-image [src]="cat3.image?.url" height="100%">
        <mat-card-content >
          <!-- <h3>{{ car.publisher }}</h3> -->
              <strong> Origin: </strong> {{ cat3.origin }}
      </mat-card-content>
      </mat-card>
      <br>
    </div>
    <div class="col-3 col-sm-6 col-md-3">
      <br>
      <mat-card class="big">


        <img mat-card-image [src]="cat4.image?.url" height="100%">
        <mat-card-content >
          <!-- <h3>{{ car.publisher }}</h3> -->
              <strong> Origin: </strong> {{ cat4.origin }}
      </mat-card-content>



      </mat-card>
      <br>
      <mat-card class="small">


        <img mat-card-image [src]="cat5.image?.url" height="100%">
        <mat-card-content >
          <!-- <h3>{{ car.publisher }}</h3> -->
              <strong> Origin: </strong> {{ cat5.origin }}
      </mat-card-content>



      </mat-card>
      <br>
      <mat-card class="big">


        <img mat-card-image [src]="cat6.image?.url" height="100%">
        <mat-card-content >
          <!-- <h3>{{ car.publisher }}</h3> -->
              <strong> Origin: </strong> {{ cat6.origin }}
      </mat-card-content>
      </mat-card>
      <br>
    </div>
    <div class="col-3 col-sm-6 col-md-3">
      <br>
      <mat-card class="small">
        <!-- <mat-card-header>
            <mat-card-title> Nombre :{{ cat1.name }}</mat-card-title>
             <mat-card-subtitle> {{ cat.name }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content >
        </mat-card-content>-->


          <img mat-card-image [src]="cat7.image?.url" height="100%">
          <mat-card-content >
            <!-- <h3>{{ car.publisher }}</h3> -->
                <strong> Origin: </strong> {{ cat7.origin }}
        </mat-card-content>


      </mat-card>
      <br>
      <mat-card class="big">


        <img mat-card-image [src]="cat8.image?.url" height="100%">
        <mat-card-content >
          <!-- <h3>{{ car.publisher }}</h3> -->
              <strong> Origin: </strong> {{ cat8.origin }}
      </mat-card-content>

      </mat-card>
      <br>
      <mat-card class="medium">


        <img mat-card-image [src]="cat9.image?.url" height="100%">
        <mat-card-content >
          <!-- <h3>{{ car.publisher }}</h3> -->
              <strong> Origin: </strong> {{ cat9.origin }}
      </mat-card-content>
      </mat-card>
      <br>
    </div>
    <div class="col-3 col-sm-6 col-md-3" >
      <br>
      <mat-card class="big">


        <img mat-card-image [src]="cat10.image?.url" height="100%">
        <mat-card-content >
          <!-- <h3>{{ car.publisher }}</h3> -->
              <strong> Origin: </strong> {{ cat10.origin }}
      </mat-card-content>



      </mat-card>
      <br>
      <mat-card class="small">


        <img mat-card-image [src]="cat11.image?.url" height="100%">
        <mat-card-content >
          <!-- <h3>{{ car.publisher }}</h3> -->
              <strong> Origin: </strong> {{ cat11.origin }}
      </mat-card-content>



      </mat-card>
      <br>
      <mat-card class="big">


        <img mat-card-image [src]="cat12.image?.url" height="100%">
        <mat-card-content >
          <!-- <h3>{{ car.publisher }}</h3> -->
              <strong> Origin: </strong> {{ cat12.origin }}
      </mat-card-content>
      </mat-card>
      <br>
    </div>

  <p></p>
</div>
