<h1>Filtro de Gatos por <strong>Nombre</strong> </h1>
<mat-divider></mat-divider>
<br>


<input type="text"
        class="form-control mb-2 mayuscula"
        placeholder="buscar gatos"
        #textSearch
        (keyup)="onSeachCat(textSearch.value)"
        />

<!-- <button  mat-raised-button color="accent"
        (click)="prevPage()" >
  Anterior
</button>
&nbsp;
<button  mat-raised-button color="accent"
        (click)="nextPage()">
  Siguientes
</button> -->


<p></p>
<div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-2 col-12"
        *ngFor="let cat of cats | filter:page : search ">
        <p>

          <app-cat-tarjeta [cat]="cat" ></app-cat-tarjeta>
        </p>

        </div>
      </div>
  <p></p>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-10"></div>
    <div class="col-2">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="imagen(15)">15</button>
        <button type="button" class="btn btn-primary" (click)="imagen(20)">20</button>
        <button type="button" class="btn btn-primary" (click)="imagen(25)">25</button>
      </div>
    </div>
  </div>
</div>
 -->
