<!-- <nav class="nav">
  <a class="nav-link" routerLink="./origen">Por Origen</a>
  <a class="nav-link" routerLink="./nombre">Por Nombre</a>
</nav> -->
<div class="container">
  <div class="row">
    <div class=""></div>

    <div class="btn-group col-sm-8 col-md-6 col-12" role="group" aria-label="Basic example">
      <button mat-button color="warn" routerLink="./origen">Por Origen</button>
      <button mat-button color="warn" routerLink="./nombre">Por Nombre</button>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<div class="row">
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
