<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push">
    <mat-toolbar>
      <span>Menú</span>
      <button mat-icon-button
              (click)="sidenav.toggle()">
        <mat-icon>
          menu
        </mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="./listado"
         mat-list-item
         (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>label</mat-icon>
          <span>Listado de Gatos</span>
      </a>

      <a routerLink="./buscar"
         mat-list-item
         >
          <mat-icon mat-list-icon>search</mat-icon>
          <button mat-button [matMenuTriggerFor]="menu">
            <span>Buscar</span>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item
            (click)="sidenav.toggle()"
            routerLink="./buscar/nombre"
            >Por nombre</button>
            <button mat-menu-item
            (click)="sidenav.toggle()"
            routerLink="./buscar/origen">
            Por origen</button>
          </mat-menu>


      </a>

      <a routerLink="./categorias/origen"
         mat-list-item
         (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>list</mat-icon>
          <span>Categorias</span>
      </a>
  </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar>
    <button mat-icon-button
            (click)="sidenav.toggle()">
      <mat-icon>
        menu
      </mat-icon>
    </button>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
</div>

</mat-sidenav-container>
