.tam{

  max-width: 80%
}

#padre{
  display: table;
    height:200px;
}

#hijo{
  display: table-cell;
    vertical-align: middle;
}

.small{
  height: 25%;
}

.medium{
  height: 50%;
}

.big{
  height: 80%;
}





.card{
  width: 20%;
  text-align: center;
}
