<h1>Listado de Gatos</h1>
<mat-divider></mat-divider>
<br>

<p></p>
<div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-2 col-12"
        *ngFor="let cat of cats">
          <app-cat-tarjeta [cat]="cat" ></app-cat-tarjeta>

        </div>
      </div>
  <p></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-10 col-12"></div>
    <div class="col">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button mat-button color="warn" (click)="imagen(15)">15</button>
        <button mat-button color="warn" (click)="imagen(20)">20</button>
        <button mat-button color="warn" (click)="imagen(25)">25</button>
      </div>
    </div>
  </div>
</div>
