<h1>Categorias</h1>
<mat-divider></mat-divider>
<br>
<div class="container">
  <div class="row">
    <div class=""></div>

    <div class="btn-group col-sm-8 col-md-6 col-12" role="group" aria-label="Basic example">
      <button mat-button color="warn" routerLink="./origen" >Origen</button>
      <button mat-button color="warn" routerLink="./adaptabilidad">Adaptabilidad</button>
      <button mat-button color="warn" routerLink="./carino">Nivel de cariño</button>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<div class="row">
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
