<!-- <mat-grid-list cols="1" *ngIf="!cat; else divCat">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list> -->

<div class="container text-center"  *ngIf="!cat; else divCat" style="margin-top: 50%; margin-left: 50%;">
  <mat-spinner></mat-spinner>
</div>


<ng-template #divCat>

  <div class="row">
    <div class="col-md-6 col-sm-12 col-12">
      <h1>{{cat.name}}</h1> <small>{{ cat.alt_names }}</small>

      <mat-divider></mat-divider>
      <br>
      <img [src]="img?.url" class="card-img-top" >

    </div>
    <div class="col-md-6 col-sm-autocol-12">
      <h1>Description</h1>
      <mat-divider></mat-divider>
      <br>
      <mat-card>
        <mat-card-header>
        <mat-list-item> {{ cat.description }} </mat-list-item>

        </mat-card-header>
        <mat-card-content>
          <mat-list >
            <mat-list-item> <h2>Origin :</h2> <h3>{{ cat.origin }}</h3> </mat-list-item>
            <mat-list-item> <h2>Country :</h2> <h3>{{ cat.country_code }}</h3> </mat-list-item>
            <mat-list-item> <h2>Life span :</h2> <h3>{{ cat.life_span }}</h3> </mat-list-item>
            <mat-list-item> <h2>Bidability :</h2> <h3>{{ cat.bidability}}</h3> </mat-list-item>
            <mat-list-item> <h2>Hypoallergenic :</h2> <h3>{{ cat.hypoallergenic}}</h3> </mat-list-item>

        </mat-list>
        </mat-card-content>
      </mat-card>


    <button mat-button
                     color="warn"
                     (click)="regresar()">
                 Regresar
             </button>
    </div>
  </div>
</ng-template>
